main.movie {
    img {
        height: 100vh;
        width: 100%;
        border-bottom: 2px solid $mainColor;
        box-shadow: 0px 8px 19px 0px $mainColor;
    }
    h2 {
        text-align: left;
        width: 100%;
        margin: 2vh;
    }
    .review {
        margin: 0 auto;
        width:80%;
        font-size: 24px;
        font-family: $secondFont;
        .add-review {
            position: relative;
            background-color: #cecece;
            padding: 20px;
            border-radius: 10px;
            h4 {
                font-size: 32px;
                color: $secondaryColor;
                text-align: center;
            }
            input[type=text] {
                width: 50%;
                margin-bottom: 10px;
            }
            button[type=button] {
                margin-top: 10px;
                width: 30%;
                font-size: 24px;
                background-color: $secondaryColor;
                border: $darkenColor;
                transition: .2s;
                &:hover {
                    background-color: $darkenColor;
                }
            }
        }
        .reviews {
            h2 {
                margin-top: 20px;
            }
            span {
                color: $mainColor;
                & + span {
                    color: darken($lightColor,70%);
                }
            }
            .jumbotron {
                display: flex;
                width:80%;
                background-color: #cecece;
                border-radius: 10px;
                padding: 15px;
                margin: 10px;
                &:nth-child(even) {
                    background-color: #aaa;
                    float:right;
                }
            }    
        }
    }
    
    .stars {
        margin-bottom:10px;
        background: #ffffff;
        height: 30px;
        width: 200px;
        padding: 10px;
        padding-bottom: 15px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        input {
            position: absolute;
            left: -99999px;
        }
        label {
            width: 30px;
            height: 30px;
            padding: 5px;
            color: transparent;
            &::before {
                content: '★';
                color: #c0c0c0;
                font-size: 30px;
                line-height: 30px;
                margin-right: -100%;
            }
        }
        
    }
    label:hover::before,
    label:hover ~ label::before,
    .stars input:checked ~ label::before {
        color: #ffa500;
        cursor: pointer;
    }
    .feedback-box {
        position: relative;

    }
    .msg-success {
        position: fixed;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0.9;
        width: 40%;
        height: 40vh;
        margin: 0 auto;
        background-color: #3d913d;
        border: 4px solid darken(#24a324,30%);
        border-radius: 15px;
        h2.success {
            width: 100%;
            text-align: center;
            font-size: 10vh;
        }
        h3.success, h4.success {
            text-align: center;
            padding: 5px;
            font-size: 32px;
            font-family: $secondFont;
            color: $bgColor;
        }
        button {
            margin-top: 10px;
            width: 30%;
            font-size: 24px;
            background-color: $secondaryColor;
            border: 2px solid $darkenColor;
            border-radius: 5px;
            transition: .2s;

            &:hover {
                background-color: $darkenColor;
            }
        }
    }
    .msg-failure {
        position: fixed;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 0.9;
        width: 40%;
        height: 40vh;
        margin: 0 auto;
        background-color: #be3c3c;
        border: 4px solid #831e1e;
        border-radius: 15px;
 
        h2.fail {
            width: 100%;
            text-align: center;
            font-size: 5vh;
        }
        h3.fail, h4.fail { 
            text-align: center;
            padding: 5px;
            font-size: 24px;
            font-family: $secondFont;
            color: $bgColor;
        }
        button {
            margin-top: 10px;
            width: 30%;
            font-size: 24px;
            background-color: $secondaryColor;
            border: 2px solid $darkenColor;
            border-radius: 5px;
            transition: .2s;

            &:hover {
                background-color: $darkenColor;
            }
        }
    }
}