$firstFont: 'Anton', sans-serif;
$secondFont: 'Yanone Kaffeesatz', sans-serif;
$mainFont: 'Pacifico', cursive;
$mainColor: #F7980A;
$secondaryColor: #B87107;
$bgColor: #382302;
$darkenColor: #784A05;
$lightColor: #cecece